<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>accessibility_new</mat-icon>
  </button>
  <span>My Mobiles</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="warn" (click)="addpdialog()">Add Product</button>
</mat-toolbar>

<div class="table-responsive mt-5 border">
  <table class="table table-bordered table-hover table-striped">
    <thead>
      <tr>
        <th>User</th>
        <th> Mobile Name</th>
        <th>Purchased Date</th>
        <th>Look</th>
        <th>Cost</th>
        <th>Comments</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of allproducts">
        <td>{{product.user}}</td>
        <td>{{product.brand}}</td>
        <td>{{product.date | date}}</td>
        <td>{{product.look}}</td>
        <td>{{product.price | currency}}</td>
        <td>{{product.comments}} </td>
          <section>
            <mat-icon color="primary" (click)="editproduct(product)" class="me-2">edit</mat-icon>
            <mat-icon color="warn" (click)="deleteproduct(product.id)">delete</mat-icon>
          </section>
        </td>
      </tr>
    </tbody>
  </table>
</div>